#footer{
    /* background-image: url("images/"); */
    background-color: rgba(0, 0,0, 0.7);
    color: #FFFFFF;
}
.foot-left{
    padding:0.3rem;
}
.text-red{
    color:  rgba(237,28,36,1);
}
.img-size{
   width: 25.03rem;
   height: 2.6rem; 
}
.red-line{
    border-bottom: 1px solid rgba(237,28,36,1);
    
}